@using UserManagement.Entities.Dtos.AuthDtos
@model ChangePasswordDto
@{
    ViewBag.Title = "Change My Password";
    Layout = "~/Views/Shared/_authLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
        <form method="post" action="">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="form-group">
                    <span>Current Password <span class="mark">*</span></span>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="CurrentPassword" required />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <span>New Password <span class="mark">*</span></span>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="NewPassword" required />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <span>Confirm New Password <span class="mark">*</span></span>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="ConfirmNewPassword" required />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change Password" class="btn btn-outline-primary btn-sm" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        @if (TempData["success"] != null)
        {
            <h4 style="color:blue">@TempData["success"]</h4>
        }
        else
        {
            <h4 style="color:red">@TempData["error"]</h4>
        }
    </div>
</div>